<template>
  <div>
    <h4
      class="text-xs-center"
      style="font-size: 30px; margin-top: 20px; margin-bottom: 10px"
    >
      Hell, my name is Ivaylo and this is my project for the elective discipline
      "Modern JavaScript frameworks for building client applications".
    </h4>
    <p style="font-size: 16px" class="text-xs-center">
      In this project i've used the HeartStone API for cardbacks and Vue.js
      JavaScript Framework for making the application.
    </p>
  </div>
</template>
