<template>
  <div class="home">
    <card-item-list></card-item-list>
  </div>
</template>

<script>
// @ is an alias to /src
//import CardItem from "@/components/CardItem.vue";

import CardItemList from "@/components/CardItemList.vue";

import actions from "../store/action-types.js";

export default {
  name: "home",
  components: { CardItemList },
  created() {
    this.$store.dispatch(actions.GET_CARDS);
  }
};
</script>
