<template>
  <v-container fluid class="maxContainerWidth" align-center>
    <v-layout row wrap>
      <v-flex xs12 sm6 wrap v-for="cards in getCards" :key="cards.cardBackId">
        <card-item
          :name="cards.name"
          :imgAnimated="cards.imgAnimated"
          :sourceDescription="cards.sourceDescription"
          :description="cards.description"
        ></card-item>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import CardItem from "./CardItem.vue";
export default {
  data() {
    return { searchValue: "" };
  },
  components: {
    CardItem
  },

  computed: {
    getCards() {
      return this.$store.state.cards;
    }
  },
  methods: {}
};
</script>
