<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card flex-row mt-3">
          <v-img :src="getCurrentCard.imgAnimated" class="itemImages"></v-img>
          <h5>{{ getCurrentCard.sourceDescription }}</h5>
          <h5>{{ getCurrentCard.name }}</h5>
          <h5>{{ getCurrentCard.description }}</h5>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import actions from "../store/action-types";

export default {
  created() {
    if (!this.$store.state.currentCard) {
      const cardBackId = this.$route.cardbacks.cardBackId;
      this.$store.dispatch(actions.GET_CARDS_DETAILS, cardBackId);
    }
  },
  computed: {
    getCurrentCard() {
      if (this.$store.state.currentCard) {
        return this.$store.state.currentCard;
      }
      return {};
    }
  }
};
</script>
