<template>
  <v-container fluid class="container">
    <v-layout justify-center>
      <v-card class="card">
        <v-img :src="imgAnimated" class="itemImages"></v-img>

        <div class="backname">{{ name }}</div>

        <v-card-actions>
          <v-btn
            flat
            color="orange"
            @click="viewCardDetails()"
            variant="success"
            >View Details</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-layout>
  </v-container>
</template>
<script>
import mutations from "../store/mutation-types";
export default {
  props: {
    name: String,
    imgAnimated: String,
    description: String,
    cardBackId: String,
    sourceDescription: String,
    locale: String
  },
  methods: {
    viewCardDetails() {
      this.setCurrentCard();
      this.$router.push({
        name: "cardbacks",
        params: { cardBackId: this.cardBackId }
      });
    },
    setCurrentCard() {
      const currentCard = this.$store.getters.getCardById(this.cardBackId);
      this.$store.commit(mutations.SET_CURRENT_CARD, currentCard);
    }
  }
};
</script>

<style>
.itemImages {
  position: relative;
  float: center;
  width: 100%;
  height: 80%;
  border: none;
}
.card {
  width: 50%;
  height: 50%;
}
.backname {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
</style>
