<template>
  <v-toolbar>
    <v-toolbar-side-icon></v-toolbar-side-icon>

    <router-link :to="{ name: 'home' }" style="text-decoration: none;">
      <v-toolbar-title>Cardback search</v-toolbar-title>
    </router-link>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <v-text-field
        hide-details
        prepend-icon="search"
        single-line
        v-model="tags"
        @input="search"
      ></v-text-field>
      <v-btn :to="{ name: 'home' }" active-class flat>Home</v-btn>
      <v-btn :to="{ name: 'about' }" active-class flat>About</v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import actions from "../store/action-types";
export default {
  data() {
    return {
      searchTitleTimeout: null,
      tags: ""
    };
  },
  methods: {
    search() {
      console.log(this.tags);
      clearTimeout(this.searchTitleTimeout);

      this.searchTitleTimeout = setTimeout(function() {
        //ako tags != null ""
        //actions dispatch (tags)
      }, 500);
    }
  },
  created() {
    this.$store.dispatch(actions.GET_CARDS);
  },
  computed: {},
  components: {}
};
</script>
