<template>
  <div id="app">
    <navigation></navigation>
    <v-container fill-height>
      <v-layout row wrap justify-center>
        <v-flex>
          <transition
            name="router-animation"
            enter-active-class="animated fadeInRight"
            leave-active-class="aniamted fadeInLeft"
          >
            <router-view />
          </transition>
        </v-flex>
      </v-layout>
    </v-container>
    <div></div>
  </div>
</template>

<script>
import Navigation from "./components/Navigation.vue";
export default {
  components: {
    Navigation
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
a:visited {
  color: black;
}
</style>
